<!-- templates/arr.tmpl -->
<html>
<body>
    <p>hello, {{.title}}</p>
    {{range $index, $ele := .stu.Arr }}
    <p>{{ $index }}: {{ $ele.Name }} is {{ $ele.Age }} year old </p>
    {{ end }}
</body>
</html>   